useDynLib(cydar, .registration=TRUE, .fixes="cxx_")

import(BiocParallel, SummarizedExperiment, S4Vectors, methods)
importFrom("plotrix", color.scale)
importFrom("viridis", viridis)
importFrom("stats", coef, kmeans, median, quantile, lm.fit, approxfun, density, approx, lm, mad)
importMethodsFrom("flowCore", markernames, "markernames<-", sampleNames, "sampleNames<-", exprs)
importFrom("flowCore", rectangleGate, polygonGate, flowFrame)
importFrom("Biobase", AnnotatedDataFrame)

importFrom("graphics", plot, points, lines, par, polygon, text)
importFrom("shiny", 
        column, fluidPage, fluidRow, pageWithSidebar, sidebarPanel, mainPanel, headerPanel, h4, hr,
        observeEvent, actionButton, textInput,
        plotOutput, renderPlot, renderTable, tableOutput,
        shinyApp, stopApp, runApp)

exportClasses(cyData)

exportMethods(nmarkers, 
    ncells,
    markernames, "markernames<-",
    sampleNames, "sampleNames<-",
    markerData, "markerData<-",
    intensities, "intensities<-",
    cellAssignments, "cellAssignments<-",
    cellIntensities, "cellIntensities<-",
    cellData, "cellData<-"
)

export(countCells,  
    expandRadius,
    normalizeBatch,
    plotCellLogFC,
    plotCellIntensity,
    intensityRanges,
    spatialFDR,
    pickBestMarkers,
    prepareCellData,
    neighborDistances,
    findFirstSphere,
    interpretSpheres,
    cyData,
    packIndices,
    unpackIndices,
    recountCells,
    medIntensities,
    poolCells,
    outlierGate,
    dnaGate
)

